<div class="status-column">
  <div class="status-column-heading">
    <div class="title">{{ title }}</div>
    <div class="count">23</div>
  </div>

  <div *ngIf="allowAddTask" class="add-new-tasks">
    <app-add-new-task></app-add-new-task>
  </div>

  <div class="all-tasks">
    <app-task
      *ngFor="let task of allTasks"
      [task]="task"
      (taskMovementEvent)="handleTaskMovement($event)"
      (taskDeletionEvent)="handleTaskDeletion($event)"
      (taskEditEvent)="handleTaskEdit($event)"
    ></app-task>
  </div>
</div>
