:host {
  height: 100%;
  flex: 1;
}

.status-column {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  overflow-y: auto;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
}

.status-column-heading {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  justify-content: start;
  column-gap: 5px;

  div {
    height: 20px;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 20px;
  }

  .count {
    font-size: 12px;
    align-items: end;
  }
}

.add-new-tasks {
  width: 100%;
  height: auto;
}

.all-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 10px;
}
