<div class="status-column">
  <div class="status-column-heading">
    <div class="title">{{ title }}</div>
    <div class="count">23</div>
  </div>

  <div class="add-new-tasks">
    <input type="text" placeholder="Quick Add Task - Title Only" />
    <button>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="all-tasks">
    <app-task
      *ngFor="let task of allTasks"
      [task]="task"
      (taskMovementEvent)="handleTaskMovement($event)"
      (taskDeletionEvent)="handleTaskDeletion($event)"
      (taskEditEvent)="handleTaskEdit($event)"
    ></app-task>
  </div>
</div>
