header {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;

  display: flex;
  justify-content: start;
  align-items: center;

  span {
    height: 25px;
    font-size: 25px;
    font-weight: 500;
  }
}
