.add-new-task {
  width: 100%;
  height: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
}

.add-new-task-heading {
  width: 100%;
}

.add-new-task-form{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 20px;

    textarea {
        min-width: 50%;
        max-width: 50%;
        min-height: 100%;
        max-height: 100%;
        padding: 5px;
    }

    button {
        width: 100px;
        height: 100%;
        cursor: pointer;
    }
}