  // width: 100%;
  // height: 30px;
  // // border: 1px solid green;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // column-gap: 5px;


.add-new-task {
  width: 100%;
  height: 30px;
  // border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;

  input {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    flex: 1;
  }

  button {
    height: 30px;
    width: 30px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-icon {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
