:host {
  flex: 1;
}

.all-tasks {
  width: 100%;
  // height: calc(100vh - 188px);
  height: 100%;
  padding: 20px 10px;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 20px;
}
